@import "tailwindcss";
.logo {
          position: relative;
          width: 27px;
          height: 27px;
        }

        .box {
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          opacity: 0.8;
        }

        .red {
          background-color: #f90c04;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        .green {
          background-color: #00ff00;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        .blue {
          background-color: #137ad3;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }